
@font-face {
	font-family: 'Conv_ofont.ru_Play';
	src: url('fonts/ofont.ru_Play.eot');
	src: local('☺'), url('fonts/ofont.ru_Play.woff') format('woff'), url('fonts/ofont.ru_Play.ttf') format('truetype'), url('fonts/ofont.ru_Play.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

