header.header
	.header__top.top-header
		.top-header__content._container
			.top-header__column
				.top-header__menu.menu
					.menu__icon.icon-menu
						span
						span
						span
					.menu__body
						.menu__list
							li
								a(href="#" class="menu__link") Бренды
							li
								a(href="#" class="menu__link") Распродажа
							li
								a(href="#" class="menu__link") Доставка и сборка 
						.menu__list
							li
								a(href="#" class="menu__link") Гарантия
							li
								a(href="#" class="menu__link") Оплата
							li
								a(href="#" class="menu__link") Контакты
			.top-header__column
				a(href="#" class="top-header__logo")
					img(src="img/header/logo.png" alt="LOGO")
			.top-header__column
				.top-header__contacts.contacts-header
					.contacts-header__column
						.contacts-header__item.contacts-header__item_icon
							.contacts-header__label Москва
							a(href="tel:849912233344").contacts-header__phone 8-499-122-33-44
					.contacts-header__column.contacts-header__column_forcart
						.contacts-header__item.contacts-header__item_second-phone
							.contacts-header__label Бесплатно для России
							a(href="88001223300").contacts-header__phone 8-800-122-33-00
	.header__bottom.bottom-header
		.bottom-header__container._container
			.bottom-header__column
				ul(data-da="menu__body,0,640").bottom-header__actions.actions-header
					li
						a(href="#").actions-header__item.actions-header__item_login
							span Bход
					li
						a(href="#").actions-header__item.actions-header__item_reg
							span Регистрация
					li
						a(href="maito:sport@gmail.com").actions-header__item.actions-header__item_mail
							span sport@gmail.com
			.bottom-header__column
				div.bottom-header__info.info-header
					.info-header__column
						a(href="#" data-da="menu__body,3,640").info-header__callback
							span Обратный звонок
					.info-header__column
						.info-header__schedule
							p 
								<span>Пн-Пт</span> 09:00-21:00
							p
								<span>Сб-Вс</span> 10:00-20:00
					.info-header__column
						a(href="#" data-da="contacts-header__column_forcart,3,640").info-header__cart
							span 12
								


